.text-size30 {
  font-size: 30px; }

.text-alignCenter {
  text-align: center; }

html {
  scroll-behavior: smooth; }

body {
  background-image: linear-gradient(#f1e3cf, #571d19, #212027, #9b1e05, #212027, black, #571d19, #9b1e05, #f1e3cf);
  font-family: 'Kufam', cursive;
  font-size: 20px; }

#main {
  background-color: white;
  margin-left: 6%; }

.cover {
  display: grid;
  align-content: center;
  justify-content: center;
  background-image: url(img-back/10.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto;
  height: 100vh; }

.side-section {
  padding-left: 19%; }

h1 {
  font-family: 'Goldman', cursive; }

.div--padding {
  padding: 5%; }

.centerInXY {
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center; }

.centerInX {
  display: flex;
  flex-direction: row;
  justify-content: center; }

section {
  position: relative;
  width: 100%;
  padding: 2%; }

.full-vh {
  height: 100vh; }

.back-90 {
  background-color: rgba(0, 0, 0, 0.9); }

.icon-item {
  width: 50px;
  height: 50px;
  margin: 25px; }

.servicios-inicio .servicios-item {
  align-content: baseline;
  text-align: center; }

.servicios-inicio .abajo {
  height: 65px; }

.servicios-inicio img {
  height: 100px; }

.servicios-inicio a {
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  color: #d97d0c;
  padding: 10%; }

.servicios-inicio a:hover {
  color: #571d19;
  transform: scale(1.1);
  transition: all 0.5s; }

#premium img {
  height: 110px; }

#premium .img-premium-der {
  display: flex;
  justify-content: flex-end; }

#premium .img-premium-izq {
  display: flex;
  justify-content: flex-start; }

#trabajos img {
  height: 110px; }

.item-portfolio {
  align-items: center;
  justify-content: center;
  padding: 2%;
  margin: 5%;
  background-color: #212027;
  color: #f1e3cf;
  border-radius: 30px; }

.item-portfolio:hover {
  transform: scale(0.9);
  transition: all 0.5s; }

.side-contacto {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }
  .side-contacto .side-icon {
    width: 50px; }
  .side-contacto a:hover {
    color: #d97d0c;
    transform: scale(1.2);
    transition: all 0.5s; }

#contacto a {
  color: #9b1e05;
  text-decoration: none; }

#contacto a:hover {
  color: #d97d0c;
  transform: scale(1.2);
  transition: all 0.5s; }

#contacto a img {
  height: 100px; }

#contacto .contacto-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }
  #contacto .contacto-grid h3 .flechas-contacto-md {
    display: inline;
    height: 55px; }
  #contacto .contacto-grid .flechas-contacto-sm {
    display: none; }

.grid-skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  justify-items: center; }
  .grid-skills img {
    height: 100px; }

#contacto-perfil a {
  color: #9b1e05;
  text-decoration: none;
  padding: 2vh; }

#contacto-perfil a:hover {
  color: #d97d0c;
  transform: scale(1.2);
  transition: all 0.5s; }

.contacto-grid-perfil {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: start; }
  .contacto-grid-perfil img {
    height: 50px; }

.sidenav-lg {
  position: fixed;
  z-index: 10;
  display: grid;
  justify-content: center;
  height: 100vh;
  background-color: black;
  margin-left: 5%; }
  .sidenav-lg div img {
    width: 150px; }

.navbar ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: space-around;
  list-style: none; }

.nav-link {
  display: block;
  padding: 1.5rem 1rem;
  color: white;
  text-decoration: none;
  background-color: transparent; }

a:hover {
  color: #d97d0c;
  transition: all 0.5s; }

/* The side navigation menu */
.sidenav {
  display: none;
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 11;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }
  .sidenav .closebtn img {
    height: 50px;
    margin: 5px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

/* ---------------------------------------------------------------------------Stiky Boton */
#navbar-btn {
  display: none; }

.button {
  border-radius: 4px;
  background-color: transparent;
  border: none;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px; }

@media (max-width: 991px) {
  .sidenav {
    display: grid;
    justify-content: center;
    align-content: center; }
  .sidenav-lg {
    display: none; }
  #navbar-btn {
    position: fixed;
    margin-left: -4%;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    z-index: 10;
    overflow: hidden; }
    #navbar-btn img {
      height: 50px;
      margin: 5px; }
  .side-section {
    padding-left: 4%; }
  #main {
    margin-left: 4%; } }

@media (max-width: 767px) {
  .side-section {
    padding-left: 4%; }
  .servicios-inicio a {
    padding: 0%; }
  #premium .img-premium-der {
    display: flex;
    justify-content: center; }
  #premium .img-premium-izq {
    display: flex;
    justify-content: center; } }

@media (max-width: 575px) {
  .side-section {
    padding-left: 4%; }
  .servicios-inicio .abajo {
    height: 30px; }
  .servicios-inicio img {
    height: 55px; }
  #contacto .contacto-grid {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center; }
    #contacto .contacto-grid h3 .flechas-contacto-md {
      display: none; }
    #contacto .contacto-grid .flechas-contacto-sm {
      display: inline;
      height: 35px; } }
