
body {
    font-family: 'Kufam', cursive;
/*    font-style: italic;*/
}
h1 {
    font-family: 'Goldman', cursive;
}
div {
    padding-top: 2%;
    padding-bottom: 2%;
}
.centerInXY {
    display: grid;
    align-content: space-evenly;
    justify-content: center;
}
.nav-link {
    color: cadetblue;
    text-decoration: none;
    background-color: transparent;
}
section {
    position: relative;
    height: 100vh;
    width: 100%;
}
#inicio {
    height: auto;
    background-color: darkslategrey;
}
#quienSoy {
    background-color: brown;
}
#servicios {
    background-color: chocolate;
}
#portfolio {
    background-color: cornflowerblue;
}
#contacto {
    background-color: darkslategrey;
}